.create-book {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-book__input {
  padding: 0.6em 0.2em 0.6em 0.4em;
  margin-right: .5em;
}

.create-book__button {
  display: flex;
  justify-content: flex-end;
  margin-right: .5em;
  padding: 0.6em 0.2em 0.6em 0.4em;
}
