.full-width {
  width: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.list-item-detail {
  border-color: $default-border-color;
  border-width: $default-border-width;
  border-radius: $default-border-radius;
  border-style: solid;
  padding: 20px 20px;
  display: flex;
  border: silver dashed 2px;
  margin: 0em 0em 0em 0em;
  width: 100%;
  
  &__row {
    display: flex;
    border: red dashed 0px;

    &__column {
      border: cyan solid 0px;
      flex-basis: 100px;      
    }

    &__column:nth-child(2) {
      border: blueviolet solid 0px;
      flex: 1;
      padding-left: 1em;
    }

    &__button {
      justify-content: flex-end;
      border: cyan solid 0px;
    }
  }

  &__icon {
    width: 5em;
  }
}
