.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &-main {
    flex: 1;
  }

  &-content_large-header,
  &-content_small-header {
    margin-top: 54px;
    margin-bottom: 54px;
    padding: 40px;
  }

  @media (max-width: 600px) {
    &-content_large-header,
    &-content_small-header {
      margin-top: 80px;
      margin-bottom: 60px;
      padding: 16px;
    }
  }
}

